/* #14af83 */

body {
    background-color: rgb(241, 243, 245);
}

h1, li, span, a {
    color: rgb(85, 99, 113);
}

.header {
    text-align: center;
}

h1.header-text::before {
    content: '# ';
    color: rgba(190, 196, 204);
}

h1 {
    font-weight: 200;
    font-size: 48px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    color: #745fb5;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    color: #108b68;
}

.header-text {
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(102, 119, 136, .2);
    position: relative;
}

.ovrflw-auto {
    overflow: auto;
}

.badge {
    display: inline-block;
    padding: .24rem 0.8rem;
    border-radius: 30px;
    font-size: .8rem;
    text-align: center;
    background: #14af83;
    color: #fefefe;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

ul.md-list {
    background-color: white;
    padding: 16px 24px;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

.cheat-card-content {
    background-color: white;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
    border-radius: 3px;
}

.cheat-card {
    background-color: white;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
    border-radius: 3px;
}

.cheat-card .cheat-card-content {
    box-shadow: none;
    border-radius: 0;
}

.cheat-card-title {
    margin: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
}

ul.md-list li {
    margin-left: 16px;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
}

ul.md-list li:hover {
    font-weight: bold;
}

.muted {
    color: rgba(190, 196, 204);
}

.mw-250 {
    min-width: 250px;
}

.mw-300 {
    min-width: 300px;
}

.mw-400 {
    min-width: 400px;
}

/*effect-underline*/

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

h2.line::after {
    margin-left: 24px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(116, 95, 181, 0.2), transparent 80%);
}

.footer {
    height: 100px;
}

.fab-home {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1.8rem;
    position: fixed;
    left: 5%;
    top: 5%;
    background-color: #745fb5;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.cheat-card-content> :not(:first-child), .chld-seperators> :not(:first-child) {
    border-top: solid 1px rgba(102, 119, 136, .06);
}

.cheat-card-content-title {
    padding: 4px 16px;
    margin: 0;
    color: #678;
    background-color: #f8f9fa;
    border-top: solid 1px rgba(102, 119, 136, .1);
}

.cheat-card-content>div>* {
    padding: 4px 24px;
    margin: 0;
}

.cheat-card-content>div>table {
    margin: 4px 24px;
    padding: 0;
}

.cheat-card-content blockquote, .cheat-card blockquote {
    padding: 4px 24px;
    margin: 0;
    color: #647586d4;
    background-color: #f8f9fa70;
}

.cheat-card-content blockquote p, .cheat-card blockquote p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
}

/* reset block quotes */

blockquote * {
    margin: inherit;
    padding: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.cheat-card strong, .cheat-card-content strong {
    color: #14af83;
    font-weight: bold;
}

.cheat-card em, .cheat-card-content em {
    color: #2e90ae;
}

.cheat-card pre, .cheat-card-content pre {
    box-shadow: none;
    border-left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: auto;
    background: #fff;
    font-size: .96em;
    line-height: 1.5;
}

.cheat-card>div>table, .cheat-card-content>div>table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

.cheat-card table td:first-child, .cheat-card-content table td:first-child {
    white-space: nowrap;
}

.cheat-card table tr th:last-child, .cheat-card table tr td:last-child, .cheat-card-content table tr th:last-child, .cheat-card-content table tr td:last-child {
    text-align: right;
}

.cheat-card table td, .cheat-card table th, .cheat-card-content table td, .cheat-card-content table th {
    padding: 4px 24px;
    vertical-align: top;
    text-align: left;
}

.cheat-card table tr, .cheat-card-content table tr {
    border-top: solid 1px rgba(102, 119, 136, .06);
}