<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheatsheet</title>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet" />
    <link rel="stylesheet" href="simple-grid.min.css">
    <link rel="stylesheet" href="index.css">

</head>

<body>

    <section id="folders" class="container" v-if="enabled">
        <h1 class="header">
            Deja Vu
        </h1>
        <div class="row">

            <div class="col-3 mw-250 ovrflw-auto" v-for="folder in githubFolders" v-if="folder.type=='dir'">

                <h2 class="header-text">
                    {{hf.toHeaderCase(folder.name)}}
                    <span class="badge">{{folder.files && folder.files.length}} sheets</span>
                </h2>
                <ul class="md-list">

                    <li v-if="folder.files" v-for="file in folder.files">
                        <span v-on:click="openMd(file.url)">{{hf.toMdFileCase(file.name)}}</span>
                    </li>

                </ul>

            </div>

        </div>

        </div>
    </section>

    <section id="file" class="container" v-if="enabled">
        <span class="fab-home" onclick="home()"><</span>

        <h1 class="header">
            {{hf.toMdFileCase(md.path.replace("/"," / "))}}
            <span class="muted">cheatsheet</span>
        </h1>
        <div v-html="cheatSheetParser(mdit.render(atob(md.content)))">
        </div>
    </section>
    <section class="footer">

    </section>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>

<script src="index.js"></script>
<script src="cheatSheetParser.js"></script>

</html>